@keyframes flipVertical {
	from {
		transform: rotateY(180deg);
	}
	to {
		transform: rotateY(0deg);
	}
}

@font-face {
    font-family: Golos;
    src: url(../fonts/Golos-Bold.otf);
}


/*Global Styles*/

body {
	background: #f9fafc;
	color: #5f6468;
}

p {
	color: #777;
}

a, a:hover, a:focus {
	color: #30a5ff;
	cursor: pointer;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
    font-weight: 300;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

label{
	width: 80px;
}


.large {
    font-size: 2em;
    line-height: 1.2em;
}

.text-muted {
    color: #5f6468;
}

.color-gray { color: #5f6468; }
.color-blue { color: #30a5ff; }
.color-teal { color: #1ebfae; }
.color-orange { color: #ffb53e; }
.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #5f6468;}
.bg-primary .glyphicon-remove:hover { color: #ef4040;}

.no-padding {
	padding: 0; margin: 0;
}

.glyphicon-xl {
	font-size: 6em;
}

.glyphicon-l {
	font-size: 3em;
}

.glyphicon-m {
	font-size: 1.5em;
}

.glyphicon-s {
	font-size: 0.75em;
}

.form-control {
	border: 1px solid #eee;
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
    margin-top: -5px;
    margin-right: 15px;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

/*Backgrounds*/

.bg-primary {
	color: #1b3548;
	background-color: #e9ecf2;
}
a.bg-primary:hover {
	background-color: #e9ecf2;
}
.bg-success {
	color: #fff;
	background-color: #8ad919;
}
a.bg-success:hover {
	background-color: #8ad919;
}
.bg-success a {
	color: rgba(255, 255, 255, .75);
}
.bg-info {
	color: #fff;
	background-color: #30a5ff;
}
a.bg-info:hover {
	background-color: #30a5ff;
}
.bg-info a {
	color: rgba(255, 255, 255, .75);
}
.bg-warning {
	color: #fff;
	background-color: #ffb53e;
}
a.bg-warning:hover {
	background-color: #ffb53e;
}
.bg-warning a {
	color: rgba(255, 255, 255, .75);
}
.bg-danger {
	color: #fff;
	background-color: #f9243f;
}
a.bg-danger:hover {
	background-color: #f9243f;
}
.bg-danger a {
	color: rgba(255, 255, 255, .75);
}

/*Panels*/

.panel {
	border: 0;
    border-radius: 0px;
    -webkit-box-shadow:0 2px 4px 2px rgba(0,0,0,.05);
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.05);
}

.panel-heading {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.025em;
	height: 66px;
	line-height: 45px;
}

.panel-default .panel-heading {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

.panel-footer {
	background: #fff;
	border-top: 1px solid #eee;
}

.panel-widget {
	padding: 0;
	position: relative;
}

.panel-widget .panel-footer {
	border: 0;
	text-align: center;
}

.panel-footer .input-group {
	padding: 0px;
	margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn, 
.panel-footer .input-group-btn:last-child>.btn-group {
	margin: 0;
}

.panel-widget .panel-footer a {
	color: #999;
}

.panel-widget .panel-footer a:hover {
	color: #666;
	text-decoration: none;
}

.panel-blue { background: #30a5ff; color: #fff; }
.panel-teal { background: #1ebfae; color: #fff; }
.panel-orange { background: #ffb53e; color: #fff; }
.panel-red { background: #f9243f; color: #fff; }

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p { 
	color: #fff; 
	color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}


.dark-overlay {
	background: rgba(0, 0, 0, .05);
	text-align: center;
}

.widget-left {
	height: 80px;
	padding-top: 15px;
	text-align: left;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widget-right {
	text-align: right;
	line-height: 1.6em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	color: #999;
	font-weight: 300;
	background: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	transition: 0.9s;
	animation-duration: 1s;
	animation-name: flipVertical;
	animation-timing-function: ease;
}

.widget-right img{
	width: 90%;
    margin-top: -5px;
}

@media (max-width: 768px) {
	.widget-right {
		width: 90px;
	    float: right;
	}
}

.widget-right .text-muted {
	color: #9fadbb;
}
.widget-right .large {
	color: #5f6468;
}

.panel-widget {
	background: #fff;
	color: #5f6468;
}


/*Tabs*/

.panel .tabs {
	margin: 0;
	padding: 0;
}

.nav-tabs {
	background: #e9ecf2;
	border: 0;
}

.nav-tabs li a:hover {
	background: #fff;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	border: 0 !important;
	padding: 15px 20px;
}

.nav-pills {
	padding: 0;
	background: #fafafa;
}

.nav-pills a{
	color: #000;
}
.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
    border: 0 !important;
    padding: 12px 25px;
    border-radius: 0 !important;
    border-bottom: none;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
	background: #fff;
	color: #000;
	border-bottom: none;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
	background: #fff;
	color: #000;
}

.tab-content {
	padding: 15px;
	min-height: 255px;
}


/*Navbar*/

.navbar {
	border: 0;
}

.navbar-toggle .icon-bar{
	background: #000;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.user-menu {
    display: inline-block;
    margin-top: 14px;
    margin-right: 10px;
    float: right;
    font-family: Golos;
    text-transform: uppercase;
    font-size: 16px;
}

.user-menu a{
	color: #5f6468;
}

.user-menu a:hover, .user-menu a:focus {
	text-decoration: none;
}

/* Sidebar */

.sidebar {
	display: block;
	background-color: #fff;
	padding: 0;
	display: none;
}

.sidebar form {
	padding: 20px 15px 5px 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
  		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto; 
		background-color: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
}

.sidebar ul.nav a:hover, 
.sidebar ul.nav li.parent ul li a:hover {
	text-decoration: none;
	background-color: #e9ecf2;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
	color: #fff;
	background-color: #30a5ff;
}*/

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
	list-style: none;
	list-style-type: none;
}

.sidebar ul.nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
	height: 40px;
	background: #f9f9f9;
	color: #30a5ff!important;
}

.sidebar ul.nav li.current a {
	background-color: #30a5ff;
	color: #fff!important;
}

.sidebar ul.nav li.parent ul li a {
	border: none;
	display:block;
	padding-left: 30px;
	line-height: 40px;
}


.sidebar span.glyphicon {
	margin-right: 10px;
}

.sidebar ul.nav li.divider {
	border-bottom: 1px solid #eee;
	margin: 20px 0;
}

.sidebar .attribution {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #eee;
	font-size: 12px;
}



/*Icons*/
.sidebar .glyph, .user-menu .glyph, .navbar-nav .glyph {
	height: 16px;
	width: 16px;
	margin: 0 10px 0 0;
	stroke-width: 3px;
}

.user-menu .glyph{
	stroke-width: 4px;
}

.breadcrumb .glyph {
	height: 14px;
	width: 14px;
	margin: -2px 0 0 0;
	stroke-width: 4px;
}

.alert .glyph, .panel-heading .glyph {
	width: 26px;
	height: 26px;
	margin: 0 10px 0 0;
	stroke-width: 2px;
}

.panel-widget .glyph {
	stroke-width: 2px;
}

.todo-list .glyph {
	width: 14px;
	height: 14px;
	stroke-width: 4px;
	color: #999;
}

.glyph.table {
	background: none;
	border: none;
}

/*Icon Grid*/

.icon-grid div {
	border: 1px solid #ddd;
	margin: 0 0 -1px -1px;
	text-align: center;
	padding: 10px 0 20px 0;
}

.icon-grid svg {
	width: 35%;
	display: block;
	margin: 0 auto;
}

.icon-grid h4 {
	display: none;
}

.icon-grid pre {
	margin: 10px 10px -10px 10px;
	border-radius: 0;
	font-size: 10px;
	border-color: #ddd;
	height: 65px;
	overflow: scroll;
}



/**added by yssa**/

.panel-body{
	min-height: 300px;
}

#main-container{
	padding-left: 0;
    margin-top: 60px;
}

body.open>#main-container{
    margin-top: 120px;	
}

.left-pane{
	width: 70%;
}

.right-pane{
	width: 30%;
	display:inline-block;
}

@media only screen and (max-width: 768px){
	.left-pane, .right-pane{
		width: 100%;
		display: block;
	}
}

.navbar{
	background: #fff;
    box-shadow: 0px 2px 4.8px 0.2px rgba(67, 66, 66, 0.16);
}

.navbar-header button{
    position: relative;
    float: right;
    margin: 8px 20px 8px -10px !important;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 20px;
    padding: 5px 10px;
}

.navbar-nav>li.active a{
	box-shadow: 0px -2px 0px #e40514 inset;
    color: #e40514 !important;
}

.nav>li>a:focus, .nav>li>a:hover{
    background: none ;
    color: #e40514;
}

.navbar-nav>li>a{
    color: #5f6468;
    font-family: Golos;
    font-size: 20px;
    padding: 20px 15px !important;
    margin: 0 !important;
    height: auto !important;
}

.subnav .navbar-nav>li>a{
    font-size: 17px;
    text-transform: uppercase;
    padding: 14px !important;
}

.subnav .nav>li>a:focus, .subnav .nav>li>a:hover{
	box-shadow: none;
}

#submenu{
    background: transparent;
    box-shadow: none;
    z-index: 1;
    margin-bottom: 0px;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.2);
    box-shadow: inset 0 20px 5px -20px rgba(0,0,0,0.2);
}

.subactive{
	font-weight: bold;
}

.subactive a{
	color: #e40514 !important;
}

.collapsing {
	display:none;
}
.submenu li{
	display:inline-block;
}

.user-menu li{
	display: inline-block;
}

#perimeterBar{
	background: #ca272c;
    margin: 15px 15px 20px;
    padding: 5px 15px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
}
#perimeterBar>.navbar-nav>li>a{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color:#fafafa;
}

#perimeterBar>.nav>li>a:focus, #perimeterBar.nav>li>a:hover{
	box-shadow: none;
	background:#9f1c21;
}

.perimeter-toggle{
	display: none;
}

#clientSat>div{
	text-align: center;
	font-size: 12px;
}

#clientSat img{
	display: block;
	height: 50px;
    margin: 16px auto 0;
}


.dropdown.periode{
	display: inline-block;
}

.form-control, .dropdown-toggle{
    border-radius: 0 !important;
    margin: 10px 5px;
    padding: 5px !important;
    height: 30px;
    background: #fff !important;
}

.form-group{
	margin-right: 15px;
}

select.form-control{
	min-width: 175px;
}

.toggle-filter{
	float:right;
    border-radius: 0 !important;
    border:none;
    margin: 10px 5px;
    height: 32px;
    background: #333 !important;
    color: #fff !important;
}

#filters{
    background: #9f1c21;
    margin: -20px 15px 20px;
    padding: 0 15px !important;
    color: #fff;
    font-size: 12px;
}

#filters select{
	width: 175px;
	display: inline-block;
}

#verbatim{
	background: url(img/verbatim.png);
	background-size: cover;
    padding: 30px;
    height: 400px;
}

/** slider **/
.carousel-content {
    display:flex;
    align-items:center;
}

.carousel-content p{
	color: #000 !important;
	margin-top: 20px;
}

.carousel-content h3{
	color: #ca272c;
    font-family: Golos;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 5px;
}

#text-carousel {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(255,255,255,0.9);
}

.carousel-indicators .active {
    background-color: #ca272c;
}

.carousel-indicators li{
    background: #ccc;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
    display: none;
}

/** score global **/
.global-score{
    display: inline-block;
    height: 150px;
    width: 150px;
    background-size: 100% 100% !important;
 	padding: 65px;
    margin: 20px 0;
}

.global-score-info{
    display: inline-block;
    padding: 20px;
    position: absolute;
    top: 20px;
}
.global-score-info h3{
	margin-bottom: 0;
}
.global-score span{
	color: #fff;
    font-size: 20px;
    font-weight: bold;
}
#globalScore{
	margin-top:20px;
}

.or{ background: url(img/score-gold.png) no-repeat;}
.argent{ background: url(img/score-silver.png) no-repeat;}
.bronze{ background: url(img/score-bronze.png) no-repeat;}
.non-classe{ background: url(img/score-white.png) no-repeat;}

.score-up{
	color:#7eb632;
	font-weight: bold;
}

.score-down{
	color:#ca272c;
	font-weight: bold;
}

.legend{
	margin-top: 20px;
}

.legend .non-classe{color:#666;}
.legend .bronze{color:#d6744c;}
.legend .argent{color:#cccccc;}
.legend .or{color:#d7a73f;}

.legend small{
	margin-right: 10px;
}

#focus{
	display: none;
}

#focus .panel-body{
	height: 300px;
}

.expand-global-score{
    float: right;
    /* margin-top: -15px; */
    font-size: 20px;
    color: #ddd;
}

.expand-global-score:hover, .expand-global-score:focus{
	color: #ddd;
}

#top, #flop{
    padding: 15px 15px 0 0;
}


/** Login **/
.left-bg{
	background: url(img/left-bg.jpg) no-repeat;
    background-size: auto 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    z-index: -1;
}

.right-bg{
	background: url(img/right-bg.jpg) no-repeat;
    background-size: auto 100%;
    background-position: top right;
    width: 50%;
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    z-index: -1;
}

.login-panel{
	width: 25%;
    margin: 0 auto;}

.login-panel .panel-body{
    min-height: 200px;
    padding: 25px 15px 25px 20px;
}

.signature{
	margin: 10% auto 2%;
    width: 30%;
    position: relative;
}

.signature img, .qm img{
	width: 100%;
}

.qm{
    margin: 0 auto;
    width: 10%;
    bottom: 20px;
    left: 0;
    right: 0;
    position: absolute;
}

.fa-thumbs-up{color: #10b464;}
.fa-thumbs-down{color: #c9272c;}

.login-btn{
	background: #e30512;
    border: none;
    border-radius: 0 !important;
    width: 100%;
    margin: 5px;
    color: #fff;
}

.login-btn:hover, .login-btn:active, .login-btn:focus{
	background: #d50310;
	color: #fff;
}

.forgot-password{
    color: #999;
    font-size: 12px;
    margin-left: 5px;
}

.forgot-password:hover{
	color: #e30512;
}

@media only screen and (max-width: 768px){
	.signature, .login-panel{
		width: 50%;
	}
	.qm{
		width: 20%;
	}
}

@media only screen and (max-width: 480px){
	.signature, .login-panel{
		width: 70%;
	}
}